@using Cloud.Transaction
@{
    ViewData["Title"] = "Connection Settings";
}
<div>
    <h1 class="grey-fg-11 special-header">@ViewData["Title"]</h1>
<p class="text-dark mt-2 indent-paragraph">
    A green connection icon <span class="icon-connected green-fg-5"></span>
    indicates that there is a present connection to the backend database.
    A red icon indicates that there is no connection. Connection parameters are set on startup. 
    If the icon is red, first check the appsettings.json file for the following:
<pre class="code-fragment"><code>"DataBaseHostConfig": {
    "Host": "A full path to the database service.",
    "Port": "The port that the service is listening on."
}</code></pre>
<p class="text-dark mt-2 text-left indent-paragraph">
    If that is valid, make sure that the BookStore.Store server is running. 
    The front end application expects that the store be located at: <code >@Transaction.Host:@Transaction.Port</code>. 
    If that is correct, try pinging the service with curl to diagnose the problem further.
</p>
<pre class="code-fragment" ><code>curl -v http://@Transaction.Host:@Transaction.Port/ping</code></pre>
<p>After a successful connection, the output from the ping route should be:<pre class="m-0 code-fragment">Cloud.Store running successfully</pre></p>
</div>