@{
    ViewData["Title"] = "Home Page";
}
<div class="text-left">
    <h1 class="grey-fg-11 text-left special-header">The Book Store</h1>
    <p class="text-dark mt-2 text-left indent-paragraph">
        The book store is a test front end web application for the <a href="https://github.com/CharlesCarley/Cloud">Cloud</a> project.

        This site's primary goals are to be able to connect to the store's backend REST service, 
        and preform all CRUD operations on the database.

    </p>
</div>
