@{
    ViewData["Title"] = "Home Page";
}
<div class="text-left">
    <h1 class="grey-fg-11 text-left special-header">The Book Store</h1>
    <p class="text-dark mt-2 text-left indent-paragraph">
        The book store is a test front end web application for the <a href="http://host.git.internal/snailrose/Cloud2">CustomCloud</a> project.

        CustomCloud is a collection of tools and libraries which allow a movable cloud that can be set up on a local computer,
        virtual machine, or remote server. Its purpose is to provide a convenient means of communication between the two databases.
        This site's primary goals are to be able to connect to the store's backend ReST service, and preform all CRUD operations on the database.
    </p>
</div>
