@using BookStore.FrontEnd.Controllers
@using Cloud.Common
@model BookStore.FrontEnd.Models.BookModel;

@{
    ViewData["Title"] = "Detail";
}


<div class="container w-100">


@if (BookController.CurrentItem != null)
{
    <div class="row w-auto">
        <div class="col w-100">
            <h1 class="special-header">@Html.DisplayName(BookController.CurrentItem.Title)</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-auto p-1 indent-paragraph">By</div>
        <div class="col p-1">@Html.DisplayName(BookController.CurrentItem.Author)</div>
    </div>
    <div class="row">
        <div class="col indent-paragraph">
            <pre class="line"><code>
@StringUtils.FromBase64(BookController.CurrentItem.Description)
</code></pre>
        </div>
    </div>
}
else
{

}
</div>
