@using BookStore.FrontEnd.Controllers
@using Cloud.Common
@model BookStore.FrontEnd.Models.BookModel;

@{
    ViewData["Title"] = "Detail";
}
<div class="container w-100">
    @if (BookController.CurrentItem != null)
    {
        <div class="row special-header">

            <div class="col">
                <h2>@Html.DisplayName(BookController.CurrentItem.Title)</h2>
            </div>

            <div class="col-md-auto">
                <button type="button" class="btn grey-bg-40 m-0" onclick="location.href='@Url.Action("Edit", BookController.CurrentItem.Index)'">
                    <span class="icon-pencil-24 link-alert icon-link"></span>
                </button>
            </div>

            <div class="col-md-auto">
                <button type="button" class="btn grey-bg-40 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <span class="icon-trash-24 link-alert icon-link"></span>
                </button>
                @*<a asp-action="Clear" class="icon-clear-24 link-alert icon-link"></a>*@
            </div>

        </div>

        <div class="row">
            <div class="col">
                <table>
                    <tr>
                        <td>Author</td>
                        <td>@Html.DisplayName(BookController.CurrentItem.Author)</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>@StringUtils.FromBase64(Html.DisplayName(BookController.CurrentItem.Description))</td>
                    </tr>
                </table>

            </div>
        </div>
    }
</div>
